* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: monospace;
  font-size: 18px;
}

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
}
.child {
  border: 1.5px solid orange;
  text-transform: capitalize;
  min-height: 120px;
  min-width: 172px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
  margin-right: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.two {
  flex-direction: column;
}
.three {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
.four {
}
.five {
}
.six {
  position: relative;
  z-index: 1;
}
.six::after {
  content: '';
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: black;
  top: 0;
  right: 0px;
  z-index: -1;
}
.six span {
  color: white;
  margin-left: 10px;
}
/* media query */
@media (max-width: 991px) {
  .parent {
    flex-wrap: wrap;
  }
  .child {
    margin-bottom: 20px;
  }
}
